@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background-color:#F2D7B8;
    font-family: 'Open Sans', sans-serif;
}
.header-main{
    background-color: #C19970;
    width: 100%;
    height: fit-content;
    align-items: center;
    padding: 10px;
    color: beige;
    
}
.navi{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.nav__links{
    list-style: none;
}
.nav__links li {
    display: inline-block;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
    
}
.nav__links li a:hover{
    color: aliceblue;
}
#intro{

}

/* flexs */
.bod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1em;

}