body{
    background-color:#F2D7B8;
}
header{
    background-color: #C19970;
    width: 100%;
    height: 20px;
    text-align: center;
}
footer{
    background-color: #BAA17D;
    color: #41284F;
}
.main_text{
    color: #672818;
    font: 20px;
}
#intro{
    color: #41284F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 50px;
    text-align: center;
}
#subintro{
    color: #877392;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 20px;
    text-align: center;
}